# Dependencias
node_modules/
package-lock.json

# Variables de entorno (IMPORTANTE!)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
.next/

# Testing
coverage/

# Temporal
*.tmp
.temp/

# venv

venv/